
h1 {
    text-align: center;
    color: rgb(239, 161, 239);
    font-size: 70px;
}

h2 {
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
}

p {
    margin-left: 80px;
    margin-right: 80px;
}
